* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}



/* ეს იგივე body-ია და თუ გინდათ ან body დატოვეთ თუ გინდათ ეს */
 .container {
  font-family: poppins;
  background-color: #F9F9F9;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
} 



/* Topics Section */



.topics-header {
  width: 282px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  color: #262626;
  margin-left: 84px;
  
}

.topic-card {
  display: flex;
  flex-direction: column;
  gap: 20px 85px;
  width: max-content;
  padding: 51px 30px 30px 30px;
  background-color: #ffffff;
  align-items: center;
  margin-top: 48px;
  border-radius: 20px;
  box-shadow: 0 6px 6px #0000000D ;
}

.topic-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}



.lingerie-pic, .spring-pic{
  margin-top: 51px;
}

.yoga-pic {
  margin-top: 41px;
}

.glow-pic {
  margin-top: 43px;
}

.ensembles-pic {
  margin-top: 46px;
}

.skin-care-pic {
  margin-top: 33px;
}

.topics-text-lingerie, .topics-text-spring, .topics-text-yoga,
.topics-text-glow, .topics-text-ensembles, .topics-text-skin-care{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

}

.topics-text-lingerie {
  margin-top: 20px;
}

.topics-text-spring {
  margin-top: 5px;
}

.topics-text-yoga {
  margin-top: 18px;
}

.topics-text-glow, .topics-text-ensembles {
  margin-top: 27px;
}

.topics-text-skin-care {
  margin-top: 24px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: #4CE0D7;
  margin-top: 29px;
  width: 143px;
  height: 35px;
  text-align: center;
  padding-top: 7px;
  border-radius: 40px;
  color: #262626;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.button:hover {
  background-color: #262626;
  color: #4CE0D7;
}

.border {
  border: 1px solid #BCBCBC;;
  width: 1267px;
  margin-top: 87.5px;
  margin-bottom: 52px;
  margin-left: 85px;

}


@media (max-width:1445px) {
  .border {
      width: 85%;
  }
}

@media (max-width:1290px) {
  .services {
      display: grid;
      grid-template-columns: repeat(3, 225px);
      justify-content: center;
      margin-left: 90px;
  }
  
  .topic-card {
      padding: 35px 30px 30px 30px;
  }
  
  .topics-header{
      text-align: center;
      width: 90%;
  }
}

@media (max-width:1140px) {
  .services {
      display: grid;
      grid-template-columns: repeat(2, 225px);
      justify-content: center;
      margin-left: 90px;
  }

}

@media(max-width:900px){
  .topics-header{
      font-size: 30px;
  }

  .topic-card {
      padding: 3px 30px 30px 30px;
  }
}


